<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238518563505-8qbt8oo0sqokmqopnh0jobqhbudbmlnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238518563505-8qbt8oo0sqokmqopnh0jobqhbudbmlnk</string>
	<key>API_KEY</key>
	<string>AIzaSyDIhSho-zAWZcoZXwK1IC_wsmuqRV36uBI</string>
	<key>GCM_SENDER_ID</key>
	<string>238518563505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>sgp-4-7670a</string>
	<key>STORAGE_BUCKET</key>
	<string>sgp-4-7670a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238518563505:ios:5185ab5676bd7ad88ce890</string>
</dict>
</plist>